<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get Wordcount</title>
  </head>
  <body>
    {% extends "template.html" %}
    <div>{{ form.words.label }}: {{ form.words(class="css_class") }}</div>
    {% if form.words.errors %}
    <ul class="errors">{% for error in form.words.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}

    {% block content %}
    <h1> Word counter </h1>
    <p> Enter text below!</p>

    <form class="" action="http://localhost:5000/count" method="POST">
      {{ form.words.label }} <br>
      {{ form.words }}
      <br>
      {{ form.submit }}
    </form>

    {% endblock %}
  </body>
</html>
